.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/svg/svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 20.1em 8.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.login:before {
    background-position: 0em 0em;
    width: 1.8em;
    height: 1.8em;
}

.icon.logo:before {
    background-position: 0em -1.8em;
    width: 20.1em;
    height: 5.3em;
}

.icon.registration:before {
    background-position: 0em -7.1em;
    width: 1.7em;
    height: 1.7em;
}

